<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login|page</title>
</head>
<body>
 <form action="{% url 'student' %}" method="post">
    <h5>LOGIN HERE</h5>
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{ field.label_tag }}
        {{ field }}
        <br>
        </div>
    {% endfor %}
    <button type="submit">LOGIN</button>

    {% if form.errors %}
    <p style="color:red;">{{ form.errors }}</p>
{% endif %}

</form>

</body>
</html>