<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'update' student.id %}">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{field.label_tag}}
        {{field}}
        {% if field.errors %}
        <div style="color: red;">{{field.errors}}</div>
        {%  endif %}
    </div>
{% endfor %}
    <button type="submit">Update</button>
</form>

</body>
</html>