<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\demo1.css' % }">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
   <fieldset>
    <legend>Mobile_Store</legend>
    <div class="A">
    {% for d1 in data %}
        <img src="{{d1.img.url}}" alt="" width="100px" height="100px">
        <br>

         {{d1.name}}
         
         {{d1.price}}
        
        {{d1.delivery}}
        <br>
    {% endfor %}
</div>
   </fieldset>
   {% if m%}
   <form    >
    {{m.as_p}}
    <buttonn class="btn btn-primary">submit</buttonn>
   </form>
   {% endif %}
</body>
</html>